<div class="container">
    <header>
      <h1>Sistema Prueba</h1>
    </header>
  
    <nav>
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
  
      <ul>
        <li><a routerLink="/pages/encriptacion">Ejercicio Encriptación</a></li>
        <li><a routerLink="/pages/fibonacci">Ejercicio Fibonacci</a></li>
        <li><a routerLink="/pages/crud">Ejercicio CRUD</a></li>
      </ul>
    </nav>
    
    <router-outlet></router-outlet>
  </div>